

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



p {
		font-size: 18px;
	line-height: 1.6;
	font-family: "chaparral-pro", serif;
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga";
	-webkit-font-feature-settings: "liga";
	font-feature-settings: "liga";
	padding: 0;
	margin-bottom: 18px;
}

p.higher {
	line-height: 1.8;
}

p img {
	display: inline;
	margin-bottom: 3px;
	width: 100px;
	height: 14px;
}


span.country {
	background-size: 100% 8px;
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 8px;
}