

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


p {
	font-size: 18px;
	line-height: 1.5;
	font-family: "freight-text-pro";
}

div {
	z-index: 10;
}

svg {
	z-index: 5;
}

svg {
	
}

circle {
	opacity: 0.5;
}

line {
	opacity: 0.2;
	stroke-width: 1;
	stroke: #5b5a3d;
}